@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.page {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

:root {
  --primary: #6366F1;

  --color-body-background: #FFFFFF;
  --color-heading-text: #0B0F19;
  --color-body-text: #565973;

  --color-button-background: var(--primary);
  --container: 1200px;
}

body {
  font-size: 18px;
   font-family: "Manrope", sans-serif; 
   font-weight:400;
   margin: 80px;
   color: #565973;
   color: var(--color-body-text);
   background-color: var(--color-body-background);
  
  padding: 0px;
}

h1,h2,h3,h4,h5,h5 {
  color: var(--color-heading-text);
}

.container { 
  max-width: 1328px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
    
  }


.site-header {
  position: sticky; top: 0;
  background: #ffffff;

}

.header-grid {
    
  display: grid;
  grid-template-columns: 1fr auto; /* brand vänster, actions höger */
  align-items: center;
  height: 100px;
}

.silicon-btn {

  display: grid;
  align-items: center;
  gap: 200px;
  padding: 6px 10px;
  cursor: pointer;
  width: 50px;
      
      }

.header-actions {
    
  display: grid;
  grid-auto-flow: column;   /* lägg barn i rad */
  gap: 16px;
  align-items: center;
}
       .darkmode-btn {
    
        display: grid;
        align-items: center;
        gap: 200px;
        padding: 6px 10px;
        cursor: pointer;
        width: 90%;
      }
  
    

.signin-btn {
      display: grid;
      width: 80%;
      margin-right: 30px;
    }
.silicon-btn {

    width: 40%;
  }


.hero {
   background: #FFFFFF;
background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(99, 102, 241, 0.07) 83%);
padding-top: 5rem;

    .hero-area {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    text-align: center;
    
    
     
    @media (width >= 768px) {
      grid-template-columns: 1fr;
    gap: 3rem;
    text-align: left;
    
    }

       .hero-content {
        flex-direction: column;
        gap: 1rem;


        .hero-title {
          display: flex;
          font-size: 56px;
          font-weight: 800;
          margin-top: 100px;
          


        }
         
        .hero-ingress {
          font-size: 18px;
          font-weight: 400;
          white-space: normal;
          margin-left: 10px;
          margin-top: -20px;
          
        }
         
       }


        .hero-image {
        margin-top: 100px;
          
       }
    }
}

.btn-download {
        text-decoration: none;
        display: inline-block;
      border-radius: 10px;
      overflow: hidden;
      padding: 5px 10px; 
      text-align: center;
    }

.brands {

  background-color: #ffffff;
  height: auto;
  display: inline-block;
  height: 10px;
  text-align: center;
  width: 100%;
    
   .logo {

   background-color: #ffffff;
   padding-top: 80px;
   margin-top: -100px;
   border: 1px solid #fff;
   
  
  
    }

  }

.section-head h2 {
  font-size: 40px;
   display: block;  
      /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 282px;
    margin-top: 45px;
}

.section-head p {
   font-size: 18px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 1px;
    margin-top: 40px;
    color: #565973

}

.easypayments {
display: block;  
      /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 378px;
    margin-top: -250px;
}
.easypayments-text h3 {
   font-size: 12px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 268px;
    margin-top: -38px;
}

.easypayments-text p {
   font-size: 8px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 205px;
    margin-top: 15px;
    color: #565973
}

.coststatistics {

display: block;  
      /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 378px;
    margin-top: 25px;

}
.coststatistics-text h3 {
   font-size: 10px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 283px;
    margin-top: -37px;
}

.coststatistics-text p {
   font-size: 8px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 240px;
    margin-top: 15px;
    color: #565973
}

.regularcashback {

display: block;  
      /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 378px;
    margin-top: 25px;
}

.regularcashback-text h3 {
   font-size: 10px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 260px;
    margin-top: -37px;
}
.regularcashback-text p {
   font-size: 8px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 205px;
    margin-top: 15px;
    color: #565973
}

.datasecurity {

display: block;  
      /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 150px;
    margin-top: -215px;
}
.datasecurity-text h3 {
   font-size: 10px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 70px;
    margin-top: -37px;
}
.datasecurity-text p {
   font-size: 8px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 20px;
    margin-top: 15px;
    color: #565973
}

.support {

display: block;  
      /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 150px;
    margin-top: 25px;
}
.support-text h3 {
   font-size: 10px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 70px;
    margin-top: -37px;
}
.support-text p {
   font-size: 8px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 1px;
    margin-top: 15px;
    color: #565973
}

.topstandards {

display: block;  
      /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 150px;
    margin-top: 25px;
}
.topstandards-text h3 {
   font-size: 10px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 65px;
    margin-top: -37px;
}
.topstandards-text p {
   font-size: 8px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 3px;
    margin-top: 15px;
    color: #565973
}
.section--isolated {
  display: flow-root;   /* Skapar BFC */
  margin-block: 40px;   /* Luft mellan sektioner */
}



.tremobiler {

    display: block;        /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-top: 50px;
}
.section-head-center h2 {
    font-size: 30px;
     display: block;  
        /* gör att margin fungerar */
        margin: 0 auto;       /* centrerar bilden */
     text-align: center;

        margin-top: 100px;
        padding: 0px;
}

.tremobiler-text h4 {
    font-size: 24px;
    display: block;   
     margin: 0 auto;       /* centrerar bilden */
    text-align: right;
     margin-right: 510px;
     margin-top: 40px;
}
.tremobiler-text p {
    font-size: 16px;
    display: block;   
     margin: 0 auto;       /* centrerar bilden */
    text-align: center;
    margin-right: -20px;
     margin-top: 5px;
     color: #565973
}

.how-does-it-work {
   background: #F3F6FF;
  
  justify-content: center;
  padding: 0;
  }

  .section--isolated {
  display: flow-root;   /* Skapar BFC */
  margin-block: 40px;   /* Luft mellan sektioner */
}


.diagram_app_future{
    display: block;        /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 50px;
    margin-top: -260px;
}
.split-text h2 {
    font-size: 32px;
    display: block;   
     margin: 0 auto;       /* centrerar bilden */
    text-align:left;
     margin-right: 193px;
     margin-top: 300px;
}
.feature-bullets p{
    font-size: 16px; 
    text-align:left; 
    margin-left: 20px;
    margin-bottom: -500;
    margin-top: 10px;
    color: #565973; 

}
.blue-icon__a {
     display: block;   
     margin: 0 auto;       /* centrerar bilden */
    text-align:left;
     margin-left: 0px;
     margin-top: -78px;

}
.blue-icon__b {
 display: block;   
     margin: 0 auto;       /* centrerar bilden */
    text-align:left;
     margin-left: 0px;
     margin-top:3px;
}
.blue-icon__c {
    display: block;   
     margin: 0 auto;       /* centrerar bilden */
    text-align:left;
     margin-left: 0px;
     margin-top: 2px;

}


     

.learn-more-btn {
   display: block;        /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: left;
    margin-left: 1px;
    margin-top: 50px;
    
}


.learn-more-btn-b{
    display: block;        /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 500px;
    margin-top: 60px;
    margin-bottom: 0px;

}

  
.section--isolated {
  display: flow-root;   /* Skapar BFC */
  margin-block: 40px;   /* Luft mellan sektioner */
}

.future-card__icon {
    display: block;        /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
    text-align: right;
    margin-right: 180px;
    margin-top: 250px;
}
.future-card__title h4 {
    font-size: 16px;
    display: block;        /* gör att margin fungerar */       /* centrerar bilden */
    text-align: right;
    margin-right: 220px;
    margin-top: -90px;
}
.future-card__cback {
 display: block;  
      /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 120px;
    margin-top: -12px;
}
.future-card__body p {
    font-size: 8px;
    display: block;        /* gör att margin fungerar */       /* centrerar bilden */
    text-align: right;
    margin-right: 159px;
    margin-top: 5px; 
     color: #565973
}
    
.future-card__b p {
    font-size: 8px;
    display: block;        /* gör att margin fungerar */       /* centrerar bilden */
    text-align: right;
    margin-right: 290px;
    margin-top: -29px; 
    color: #565973

}
.learn-more-btn__f {
  display: block;        /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
    text-align: left;
    margin-right: 164px;
    margin-top: 30px;

}
.contact-visa {
display: block;        /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
    text-align: left;
    margin-left: 10px;
    margin-top: -240px;
}

.section--isolated {
  display: flow-root;   /* Skapar BFC */
  margin-block: 40px;   /* Luft mellan sektioner */
}
.container {
    width: 100%;
   max-width: 1320px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 1rem;
   padding-right: 1rem;

}



.testimonials-area {
  background-color: #F3F6FF;
  display: flex;
  height: 400px;
  justify-content: space-between;

  
  
}
.testimonials-content {
  display: flex;
  align-items: center;
  margin-top: -20px;
}
.testimonials-ingress {
  font-size: 12px;
  text-align: center;
}

.testimonials-title {
 margin-left: 100px;
 margin-top: -60px;

  

}

.tcard {
  background: #ffffff;
  width: 320px;
  margin-top: -40px;
  display: grid;
  margin-left: 0px;
  height: 258px;


}

.stars{
color: #FFBA08;
margin-top: 55px;

}
.quote {
  position: relative;
  display: grid;
  margin-left: 1px;
}
.name {
  font-size: 13px;
  margin-left: 30px;
  line-height: 1.0px;
  margin-top: -55px;
}
.role {
  font-size: 10px;
  margin-left: 60px;
  
}




.testimonials-right {
  display: grid;
align-items:center;
justify-content: space-between;

}
.testimonials-text-right {
  font-size: 12px;
   text-align: center;
   margin-top: 5px;

}

.quote-right {
  position: relative;
margin-top: -25px;



}
.stars-right {
  color: #FFBA08;


}



.tcard-right{
 background: #ffffff;
  max-width: 90%;
  height: 260px;
 margin-right: 200px;
 margin-top: 10px;
 display: grid;
 width: 300px;
}
.avatar-right {
  width: 10px;
}
.meta-right {
  grid-template-columns: auto 1fr;
  

.role-right {
font-size: 10px;
margin-left: 30px;

}
 .name-right{
  font-size: 12px;
  margin-left: 30px;
  margin-top: -50px;
  line-height: 1.0px;
   }
  }
.text-one {
margin-left: 40px;

}


.section--isolated {
  display: flow-root;   /* Skapar BFC */
  margin-block: 100px;   /* Luft mellan sektioner */
}

.subscribe-btn {
  display: block;        /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: -28px;
    margin-top: -33px;
    margin-bottom: 0px;
}


/* Inputfältet */
.input {
flex: 1;                   /* Gör så fältet tar all plats till vänster */
  padding: 10px;
  font-size: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: -20px;
  top: -10px;
  width: 210px;

}
.subscribe-form {
  display: block; 
  font-size: 10px;       /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 160px;
    margin-top: -40px;
    margin-bottom: 0px; 
}
h6.subscribe-text  {
   font-size: 10x;
    display: block;        /* gör att margin fungerar */       /* centrerar bilden */
    text-align: left;
    margin-left: 110px;
    margin-top: -40px;
}
.subscribe-icon {
display: block;        /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: left;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.subscribe {
  background: #f5f8ff;      /* ljusblå bakgrund */
  padding: 40px 20px;       /* luft inuti bakgrunden */
  border-radius: 10px;      /* rundade hörn */
  margin: 40px auto;        /* flytta ner rutan på sidan */
  max-width: 1000px; 
  height: 40px;

}
.site-footer {
  background-color: #ffffff; /* ljusgrå bakgrund */
  padding: 15px 20px;
  display: flex;
  justify-content: space-between; /* sprider ut vänster och mitten */
  align-items: center;
  font-size: 14px;
  
}
.footer-center {
    font-size: 10px;
  text-align: center;
  flex-grow: 1; /* gör att den centreras fint */
  color: #9397AD; 
}



/* Responsiv: på små skärmar, lite mindre avstånd */
@media (max-width: 480px){
  .header-grid { height: 56px; }
  .header-actions { gap: 10px; }
  .brand img { height: 24px; }
  .signin-btn img { height: 26px; }
}
