@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.page {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}


:root {
  --primary: #6366F1;

  --color-body-background: #FFFFFF;
  --color-heading-text: #0B0F19;
  --color-body-text: #565973;

  --color-button-background: var(--primary);
  --container: 1200px;
  --card-radius: 12px;  

   
    }
:root[data-theme="dark"] {
  --color-body-background: #0B0F19;
  --color-body-text: #ffffff;
  --color-heading-text: #ffffff;
}


[data-theme="dark"] .how-does-it-work  { background-color:#010b15; }
[data-theme="dark"] .brands { background:#010b15; }
[data-theme="dark"]  .tcard { background-color:#070707; }
[data-theme="dark"] .testimonials-area  { background-color:#010b15; }

[data-theme="dark"] .tcard-right { background-color:#070707; }
[data-theme="dark"] .input { background-color:#070707; }

[data-theme="dark"] .subscribe  { background-color:#010b15; }
[data-theme="dark"] .site-footer { background-color:#010b15; }

:root[data-theme="dark"] .faq-accordion .contentBx{
  background: #0B0F19;
  box-shadow: 0 12px 30px rgba(0,0,0,.5);
}

:root[data-theme="dark"] .faq-accordion .contentBx .label{
  background: #0B0F19;
  color: #E8EDF2;
}

:root[data-theme="dark"] .faq-accordion .contentBx .content{
  background: #00030b;
  color: #C7D3EA;
}

:root[data-theme="dark"] .acc-btn{
  background: #121827;
  border-color: #1c1d1f;
}

:root[data-theme="dark"] .acc-btn svg path{ fill:#E8EDF2; }

body {
  font-size: 18px;
   font-family: "Manrope", sans-serif; 
   font-weight:400;
   margin: 80px;
   color: #565973;
   color: var(--color-body-text);
   background-color: var(--color-body-background);
  
  padding: 0px;

  padding: 25px;
  
  font-size: 18px;
}

h1,h2,h3,h4,h5,h5 {
  color: var(--color-heading-text);
}

.container { 
  max-width: 1328px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
    
  @media (width > 768px) {
    max-width: 720px;
  }

  @media(width > 992px) {
    max-width: 960px;
  }

  @media(width > 1200px) {
    max-width: 1140px;
  }

  @media(width > 1400px) {
    max-width: 1320px;
  }
     }


.site-header {
  position: stick; top: 0;
  background: #ffffff;

}

.header-area {
    
  display: grid;
  grid-template-columns: 1fr auto; /* brand vänster, actions höger */
  align-items: center;
  height: 100px;
}

.silicon-btn {

  display: grid;
  align-items: center;
  gap: 200px;
  padding: 6px 10px;
  cursor: pointer;
  width: 50px;
      
      }

.header-actions {
    
  display: grid;
  grid-auto-flow: column;   /* lägg barn i rad */
  gap: 16px;
  align-items: center;
}
       .darkmode-btn {
       background-color: black;
       color: white;
        
      }
  
    

.signin-btn {
      display: grid;
      width: 80%;
      margin-right: 30px;
    }
.silicon-btn {

    width: 40%;
  }


.hero {
   background: #FFFFFF;
background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(99, 102, 241, 0.07) 83%);
padding-top: 5rem;

    .hero-area {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    text-align: center;
    
    
     
    @media (width >= 768px) {
      grid-template-columns: 1fr;
    gap: 3rem;
    text-align: left;
    
    }

       .hero-content {
        flex-direction: column;
        gap: 1rem;


        .hero-title {
          display: flex;
          font-size: 56px;
          font-weight: 800;
          margin-top: 100px;
          


        }
         
        .hero-ingress {
          font-size: 18px;
          font-weight: 400;
          white-space: normal;
          margin-left: 10px;
          margin-top: -20px;
          
        }
         
       }


        .hero-image {
        margin-top: 100px;
          
       }
    }
}

.btn-download {
        text-decoration: none;
        display: inline-block;
      border-radius: 10px;
      overflow: hidden;
      padding: 5px 10px; 
      text-align: center;
    }

.brands {

  height: auto;
  display: inline-block;
  height: 10px;
  text-align: center;
  width: 100%;
    
   .logo {

   background-color: #ffffff;
   padding-top: 80px;
   margin-top: -100px;
   border: 1px solid #fff;
      }
    }

.section-head h2 {
  font-size: 40px;
   display: block;  
      /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 282px;
    margin-top: 45px;
}

.section-head p {
   font-size: 18px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 1px;
    margin-top: 40px;
    color: #565973

}

.easypayments {
display: block;  
      /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 378px;
    margin-top: -250px;
}
.easypayments-text h3 {
   font-size: 12px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 268px;
    margin-top: -38px;
}

.easypayments-text p {
   font-size: 8px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 205px;
    margin-top: 15px;
    color: #565973
}

.coststatistics {

display: block;  
      /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 378px;
    margin-top: 25px;

}
.coststatistics-text h3 {
   font-size: 10px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 283px;
    margin-top: -37px;
}

.coststatistics-text p {
   font-size: 8px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 240px;
    margin-top: 15px;
    color: #565973
}

.regularcashback {

display: block;  
      /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 378px;
    margin-top: 25px;
}

.regularcashback-text h3 {
   font-size: 10px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 260px;
    margin-top: -37px;
}
.regularcashback-text p {
   font-size: 8px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 205px;
    margin-top: 15px;
    color: #565973
}

.datasecurity {

display: block;  
      /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 150px;
    margin-top: -215px;
}
.datasecurity-text h3 {
   font-size: 10px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 70px;
    margin-top: -37px;
}
.datasecurity-text p {
   font-size: 8px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 20px;
    margin-top: 15px;
    color: #565973
}

.support {

display: block;  
      /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 150px;
    margin-top: 25px;
}
.support-text h3 {
   font-size: 10px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 70px;
    margin-top: -37px;
}
.support-text p {
   font-size: 8px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 1px;
    margin-top: 15px;
    color: #565973
}

.topstandards {

display: block;  
      /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 150px;
    margin-top: 25px;
}
.topstandards-text h3 {
   font-size: 10px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 65px;
    margin-top: -37px;
}
.topstandards-text p {
   font-size: 8px;
   display: block;   
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 3px;
    margin-top: 15px;
    color: #565973
}
.section--isolated {
  display: flow-root;   /* Skapar BFC */
  margin-block: 40px;   /* Luft mellan sektioner */
}



.tremobiler {

    display: block;        /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-top: 50px;
}
.section-head-center h2 {
    font-size: 30px;
     display: block;  
        /* gör att margin fungerar */
        margin: 0 auto;       /* centrerar bilden */
     text-align: center;

        margin-top: 100px;
        padding: 0px;
}

.tremobiler-text h4 {
    font-size: 24px;
    display: block;   
     margin: 0 auto;       /* centrerar bilden */
    text-align: right;
     margin-right: 510px;
     margin-top: 40px;
}
.tremobiler-text p {
    font-size: 16px;
    display: block;   
     margin: 0 auto;       /* centrerar bilden */
    text-align: center;
    margin-right: -20px;
     margin-top: 5px;
     color: #565973
}

.how-does-it-work {
   background: #F3F6FF;
  
  justify-content: center;
  padding: 0;
  }

  .section--isolated {
  display: flow-root;   /* Skapar BFC */
  margin-block: 40px;   /* Luft mellan sektioner */
}


.diagram_app_future{
    display: block;        /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 50px;
    margin-top: -260px;
}
.split-text h2 {
    font-size: 32px;
    display: block;   
     margin: 0 auto;       /* centrerar bilden */
    text-align:left;
     margin-right: 193px;
     margin-top: 300px;
}
.feature-bullets p{
    font-size: 16px; 
    text-align:left; 
    margin-left: 20px;
    margin-bottom: -500;
    margin-top: 10px;
    color: #565973; 

}
.blue-icon__a {
     display: block;   
     margin: 0 auto;       /* centrerar bilden */
    text-align:left;
     margin-left: 0px;
     margin-top: -78px;

}
.blue-icon__b {
 display: block;   
     margin: 0 auto;       /* centrerar bilden */
    text-align:left;
     margin-left: 0px;
     margin-top:3px;
}
.blue-icon__c {
    display: block;   
     margin: 0 auto;       /* centrerar bilden */
    text-align:left;
     margin-left: 0px;
     margin-top: 2px;

}


     

.learn-more-btn {
   display: block;        /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: left;
    margin-left: 1px;
    margin-top: 50px;
    
}


.learn-more-btn-b{
    display: block;        /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 500px;
    margin-top: 60px;
    margin-bottom: 0px;

}

  
.section--isolated {
  display: flow-root;   /* Skapar BFC */
  margin-block: 40px;   /* Luft mellan sektioner */
}

.future-card__icon {
    display: block;        /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
    text-align: right;
    margin-right: 180px;
    margin-top: 250px;
}
.future-card__title h4 {
    font-size: 16px;
    display: block;        /* gör att margin fungerar */       /* centrerar bilden */
    text-align: right;
    margin-right: 220px;
    margin-top: -90px;
}
.future-card__cback {
 display: block;  
      /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 120px;
    margin-top: -12px;
}
.future-card__body p {
    font-size: 8px;
    display: block;        /* gör att margin fungerar */       /* centrerar bilden */
    text-align: right;
    margin-right: 159px;
    margin-top: 5px; 
     color: #565973
}
    
.future-card__b p {
    font-size: 8px;
    display: block;        /* gör att margin fungerar */       /* centrerar bilden */
    text-align: right;
    margin-right: 290px;
    margin-top: -29px; 
    color: #565973

}
.learn-more-btn__f {
  display: block;        /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
    text-align: left;
    margin-right: 164px;
    margin-top: 30px;

}
.contact-visa {
display: block;        /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
    text-align: left;
    margin-left: 10px;
    margin-top: -240px;
}

.section--isolated {
  display: flow-root;   /* Skapar BFC */
  margin-block: 40px;   /* Luft mellan sektioner */
}
.container {
    width: 100%;
   max-width: 1320px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 1rem;
   padding-right: 1rem;

}



.testimonials-area {
  background-color: #F3F6FF;
  display: flex;
  height: 400px;
  justify-content: space-between;

  
  
}
.testimonials-content {
  display: flex;
  align-items: center;
  margin-top: -20px;
}
.testimonials-ingress {
  font-size: 12px;
  text-align: center;
}

.testimonials-title {
 margin-left: 100px;
 margin-top: -60px;

  

}

.tcard {
background: #fff;
width: 320px;
margin-top: -40px;
display: grid;
margin-left: 0;
height: 258px;
border-radius: 10px;
}

.stars{
color: #FFBA08;
margin-top: 55px;

}
.quote {
 position: relative;
  display: grid;
  margin-left: 1px;

  @media (min-width: 900px){
  .quote{ width: 28px; height: 28px; top: -12px; }
   }
}
.name {
  font-size: 12px;
  margin-left: 30px;
  line-height: 1.0px;
  margin-top: -55px;
}
.role {
  font-size: 10px;
  margin-left: 60px;
  
}

.testimonials-right {
  display: grid;
align-items:center;
justify-content: space-between;

}
.testimonials-text-right {
  font-size: 12px;
   text-align: center;
   margin-top: 5px;

}

.quote-right {
  position: relative;
margin-top: -25px;



}
.stars-right {
  color: #FFBA08;


}

.tcard-right{
 background: #ffffff;
  max-width: 90%;
  height: 260px;
 margin-right: 200px;
 margin-top: 10px;
 display: grid;
 width: 300px;
 border-radius: 10px;
}
.avatar-right {
  width: 10px;
}
.meta-right {
  grid-template-columns: auto 1fr;
  

.role-right {
font-size: 10px;
margin-left: 30px;

}
 .name-right{
  font-size: 12px;
  margin-left: 30px;
  margin-top: -50px;
  line-height: 1.0px;
   }
  }


.faq {
                                
  margin-top: 5rem;   
  
  justify-content: space-between;

 
   .container {
       justify-content: center;
       max-width: 1050px;
       width: min(100% -2rem, 1200px);

}
 
.faq-area {
display: flex;
 margin-top: 5rem;
 margin-bottom: 10rem;
 align-items: flex-start;
 justify-content: space-between;
 
 



}


.faq-title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 100px;
}


.faq-accordion {
  
  flex-direction:column;
   max-width: 500px;
   overflow-anchor: none;
   margin-top: 6rem;
   
   
   
  
  
}

.faq-accordion .contentBx {
  position: relative;
  margin: 10px 20px;
  box-shadow: 0 2px 8px;
  font-size: 12px;
  overflow-anchor: none;
  gap: 10rem;  
  width: 100%;
 
}
.faq-accordion {


  width: 100%;
  justify-content: space-between;
  margin: 0;
  max-width: min(560px, 100%);
  padding: 2rem;
  
  
}
.contentBx {
  
 width: 500px;
  border-radius: .5rem;
  overflow: hidden;
  margin-bottom:  5rem;

  
}
.label {
  align-items: center;
  color: #0B0F19;
  
  font-size: 14px;
  font-weight: 600;
  height: 2.8rem;
}


.faq-accordion .contentBx .label {
  display: flex;
  position: relative;
  padding: 5px;
  background:#fff;
  color: #0b0b0b;
  cursor: pointer;

  justify-content: space-between;
}
.acc-btn {
  border-radius: 100%;
  height: 28px;
  transform:rotate(360deg);
  background-color: #eeeff3;
  border: 0;
}
  

.chev-btn {
  display: flex;
  
  
  margin-left: auto;
  margin-top: 1rem;
  
  

  
  
}

.faq-accordion .contentBx .label::before
{
  

  top: 50%;
  right: 20px;
  transform: translate(-50%);
  font-size: 1.5em;
  border-radius: 10px;
  
}
.faq-accordion .contentBx .content {
  position: static !important;
  padding: 0px 16px;
  background: #f0eeee;
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 10px;
  
  
  
  

  
}
.faq-accordion .contentBx.active .content {
    height: 60px;
    padding: 10px;
    justify-content: space-between;
    display: flex;
            
}
  
  


    @media (width >= 768px) {
        padding-bottom: 0;
    }

    .faq-area {
       display: flex;
       grid-template-columns: 1fr minmax(320px, 560px);
       gap: clamp(1rem, 3vw, 5rem);
      
       
       

      .faq-content {
        display: grid;
      
       
        
         

        .faq-title {
           font-size: 24px;
           font-weight: 600;
           margin-top: rem;

        }
      }
      
      .faq-ingress {
      font-size: 16px;
      margin-bottom: 1rem;
      margin-top: -5rem;
    

      }
    }
  }
.telefon-contact {
  display: grid;
  margin-bottom: -32px;

}
.contact-card-area {
display: flex;
margin-top: 3.5rem;



}
.message-contact-area {

  margin-left: 230px;
  margin-top: -12rem;
border: 1px solid #d5d7e9;
height: 166px;
border-radius: 10px;
width: 190px;

  
    
  .message-contact{
    margin-top: -10px;
    margin-left: 20px;
    margin-top: 20px;

  }
  .faq-message-p {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    

  }
  .contact-us {
    text-align: center;
    margin-top: 5px;
    }
   }
  






.section--isolated {
  display: flow-root;   /* Skapar BFC */
  margin-block: 100px;   /* Luft mellan sektioner */
}

.subscribe-btn {
  display: block;        /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: -28px;
    margin-top: -33px;
    margin-bottom: 0px;
}


/* Inputfältet */
.input {
flex: 1;                   /* Gör så fältet tar all plats till vänster */
  padding: 10px;
  font-size: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: -20px;
  top: -10px;
  width: 210px;

}
.subscribe-form {
  display: block; 
  font-size: 10px;       /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: right;
    margin-right: 160px;
    margin-top: -40px;
    margin-bottom: 0px; 
}
h6.subscribe-text  {
   font-size: 10x;
    display: block;        /* gör att margin fungerar */       /* centrerar bilden */
    text-align: left;
    margin-left: 110px;
    margin-top: -40px;
}
.subscribe-icon {
display: block;        /* gör att margin fungerar */
    margin: 0 auto;       /* centrerar bilden */
   text-align: left;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.subscribe {
  
  background: #f5f8ff;      /* ljusblå bakgrund */
  padding: 40px 20px;       /* luft inuti bakgrunden */
  border-radius: 10px;      /* rundade hörn */
  margin: 40px auto;        /* flytta ner rutan på sidan */
  max-width: 1000px; 
  height: 40px;

}
.site-footer {
  background-color: #ffffff; /* ljusgrå bakgrund */
  padding: 15px 20px;
  display: flex;
  justify-content: space-between; /* sprider ut vänster och mitten */
  align-items: center;
  font-size: 14px;
  
}
.footer-center {
    font-size: 10px;
  text-align: center;
  flex-grow: 1; /* gör att den centreras fint */
  color: #9397AD; 
}



/* Responsiv: på små skärmar, lite mindre avstånd */
@media (max-width: 480px){
  .header-area { height: 56px; }
  .header-actions { gap: 10px; }
  .brand img { height: 24px; }
  .signin-btn img { height: 26px; }
}
